<dict>
  <key>tile-data</key>
  <dict>
    <key>file-data</key>
    <dict>
      <key>_CFURLString</key>
      <string>file:///Applications/</string>
      <key>_CFURLStringType</key>
      <integer>15</integer>
    </dict>
    <key>file-label</key>
    <string>Applications</string>
    <key>displayas</key>
    <integer>1</integer>
  </dict>
  <key>tile-type</key>
  <string>directory-tile</string>
</dict>
<dict>
  <key>tile-data</key>
  <dict>
    <key>file-data</key>
    <dict>
      <key>_CFURLString</key>
      <string>file:///Users/dudeofawesome/Downloads/</string>
      <key>_CFURLStringType</key>
      <integer>15</integer>
    </dict>
    <key>file-label</key>
    <string>Downloads</string>
    <key>displayas</key>
    <integer>0</integer>
  </dict>
  <key>tile-type</key>
  <string>directory-tile</string>
</dict>
