.vs-dark .monaco-workbench > .activitybar > .content {
  background-color: #1c2429; }
.vs-dark .monaco-workbench > .sidebar {
  background-color: #263238; }
  .vs-dark .monaco-workbench > .sidebar .monaco-scrollable-element .shadow {
    box-shadow: none !important; }
  .vs-dark .monaco-workbench > .sidebar > .content,
  .vs-dark .monaco-workbench > .sidebar .title .title-actions {
    background-color: #263238; }
  .vs-dark .monaco-workbench > .sidebar .monaco-tree .monaco-tree-row.selected {
    background-color: #1c2429; }
.vs-dark .monaco-workbench > .editor .title.tabs {
  background-color: #263238 !important; }
  .vs-dark .monaco-workbench > .editor .title.tabs::before {
    border-color: transparent !important; }
.vs-dark .monaco-workbench > .editor .title .tabs-container {
  background-color: #263238 !important; }
  .vs-dark .monaco-workbench > .editor .title .tabs-container > .tab {
    border-color: transparent !important;
    background-color: #263238 !important; }
    .vs-dark .monaco-workbench > .editor .title .tabs-container > .tab.active {
      border-bottom: 2px solid #009688 !important;
      background-color: #263238 !important; }
.vs-dark .monaco-workbench > .statusbar {
  background-color: #009688; }
.vs-dark .scroll-decoration {
  box-shadow: none !important; }
