<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:48:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>Gitmoji</key>
			<dict>
				<key>date</key>
				<date>2017-04-27T09:27:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>github</string>
						<string>emoji</string>
					</array>
					<key>name</key>
					<string>Gitmoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Gitmoji</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>LaTeX_Math_Symbols</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LaTeX Math Symbols</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LaTeX_Math_Symbols</string>
				</dict>
			</dict>
			<key>Licenses</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Licenses</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Licenses</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Sketch</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bohemian Coding Sketch.App</string>
					</array>
					<key>name</key>
					<string>Sketch</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sketch</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:53Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
			<key>screen</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>screen</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>screen</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>caolan/async</key>
			<dict>
				<key>date</key>
				<date>2016-09-29T03:26:12Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>caolan/async</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>caolan/async</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Bluebird</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:27:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>promise</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bluebird#readme</string>
					<key>authorLinkText</key>
					<string>Gilad Gray</string>
					<key>name</key>
					<string>Bluebird</string>
					<key>platform</key>
					<string>usercontribBluebird</string>
					<key>uniqueIdentifier</key>
					<string>Bluebird</string>
				</dict>
			</dict>
			<key>FFmpeg</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:27:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/FFmpeg#readme</string>
					<key>authorLinkText</key>
					<string>Steve Yin</string>
					<key>name</key>
					<string>FFmpeg</string>
					<key>platform</key>
					<string>usercontribFFmpeg</string>
					<key>uniqueIdentifier</key>
					<string>FFmpeg</string>
				</dict>
			</dict>
			<key>Google_Maps</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Google_Maps#readme</string>
					<key>authorLinkText</key>
					<string>Jeroen Knoef</string>
					<key>name</key>
					<string>Google Maps</string>
					<key>platform</key>
					<string>usercontribGoogle_Maps</string>
					<key>uniqueIdentifier</key>
					<string>Google_Maps</string>
				</dict>
			</dict>
			<key>IonIcons</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ion Icons</string>
						<string>Android Icons</string>
						<string>iPhone Icons</string>
						<string>iOS Icons</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/IonIcons#readme</string>
					<key>authorLinkText</key>
					<string>Danang Widiantoro</string>
					<key>name</key>
					<string>IonIcons</string>
					<key>platform</key>
					<string>usercontribIonIcons</string>
					<key>uniqueIdentifier</key>
					<string>IonIcons</string>
				</dict>
			</dict>
			<key>JSDoc</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jsdoc</string>
						<string>jsdoc3</string>
						<string>documentation</string>
						<string>javascript</string>
						<string>node</string>
						<string>nodejs</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/JSDoc#readme</string>
					<key>authorLinkText</key>
					<string>Nicholas Cloud</string>
					<key>name</key>
					<string>JSDoc</string>
					<key>platform</key>
					<string>usercontribJSDoc</string>
					<key>uniqueIdentifier</key>
					<string>JSDoc</string>
				</dict>
			</dict>
			<key>Loopback</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Strongloop</string>
						<string>Loopback</string>
						<string>Express</string>
						<string>Nodejs</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Loopback#readme</string>
					<key>authorLinkText</key>
					<string>Frank Wang</string>
					<key>name</key>
					<string>loopback</string>
					<key>platform</key>
					<string>usercontribLoopback</string>
					<key>uniqueIdentifier</key>
					<string>Loopback</string>
				</dict>
			</dict>
			<key>NativeScript</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>nativescript</string>
						<string>ns</string>
						<string>tns</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NativeScript#readme</string>
					<key>authorLinkText</key>
					<string>Aleksey Gureiev</string>
					<key>name</key>
					<string>NativeScript</string>
					<key>platform</key>
					<string>usercontribNativeScript</string>
					<key>uniqueIdentifier</key>
					<string>NativeScript</string>
				</dict>
			</dict>
			<key>electron</key>
			<dict>
				<key>date</key>
				<date>2017-03-15T22:48:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>atom-shell</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/electron#readme</string>
					<key>authorLinkText</key>
					<string>Francesco Pira</string>
					<key>name</key>
					<string>Electron</string>
					<key>platform</key>
					<string>usercontribelectron</string>
					<key>uniqueIdentifier</key>
					<string>electron</string>
				</dict>
			</dict>
			<key>fish</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>fishshell</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish#readme</string>
					<key>authorLinkText</key>
					<string>Dan Underwood</string>
					<key>name</key>
					<string>fish</string>
					<key>platform</key>
					<string>usercontribfish</string>
					<key>uniqueIdentifier</key>
					<string>fish</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Node Package Manager</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/npm#readme</string>
					<key>authorLinkText</key>
					<string>François Massart</string>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>usercontribnpm</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/AWS_JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:21:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularTS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:21:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:22:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:22:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Cordova.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/D3JS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Grunt.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:22:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Gulp.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Handlebars.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ionic.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jade.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jasmine.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mocha.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:26:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SailsJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:23:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:24:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:49:45Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Jekyll.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-02T08:25:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mono.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-29T01:15:29Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>1.5.8</key>
				<dict>
					<key>date</key>
					<date>2016-10-13T05:27:33Z</date>
				</dict>
				<key>2.0.0</key>
				<dict>
					<key>date</key>
					<date>2016-10-13T08:16:10Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
