$background-color: rgb(38, 50, 56);
$primary-color: rgb(0, 150, 136);

.vs-dark {
  .monaco-workbench {
    > .activitybar {
      > .content {
        background-color: darken($background-color, 5%);
      }
    }

    > .sidebar {
      background-color: $background-color;

      .monaco-scrollable-element {
        .shadow {
          box-shadow: none !important;
        }
      }

      > .content,
      .title .title-actions {
        background-color: $background-color;
      }
  
      .monaco-tree {
        .monaco-tree-row {
          &.selected {
            background-color: darken($background-color, 5%);
          }
        }
      }
    }

    > .editor {
      .title {
        &.tabs {
          background-color: $background-color !important;

          &::before {
            border-color: transparent !important;
          }
        }
  
        .tabs-container {
          background-color: $background-color !important;

          > .tab {
            border-color: transparent !important;
            background-color: $background-color !important;

            &.active {
              // background-color: $primary-color;
              border-bottom: 2px solid $primary-color !important;
              background-color: $background-color !important;
            }
          }
        }
      }
    }

    > .statusbar {
      background-color: $primary-color;
    }
  }

  .scroll-decoration {
    box-shadow: none !important;
  }
}
